# Redis
REDIS_URL=redis://redis:6379/0

# Ollama
OLLAMA_URL=http://ollama:11434

# Paths
DATA_DIR=/app/data
RESULTS_DIR=/app/results
TERMINOLOGY_DIR=/app/terminology_omop

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
